<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw400">Cadastro de Gastos</ion-text>
          </ion-text>
      </ion-title>
      
    </ion-toolbar>
    
  </ion-header>

<ion-content class="form-registrar" padding>

    <div class="list-form">
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating" class="branco">
            <ion-icon name="chatboxes" item-start></ion-icon>
            Motivo
          </ion-label>
          <ion-input color="secondary" type="text"></ion-input>
        </ion-item>
        <p ion-text class="text08">
          <ion-text color="warning">
            Campo Requerido
          </ion-text>
        </p>
  
        <ion-item no-padding class="animated fadeInUp">
            <ion-label position="floating" class="branco">
              <ion-icon name="cash" item-start></ion-icon>
              Valor
            </ion-label>
            <ion-input color="secondary" type="text"></ion-input>
          </ion-item>
          <p ion-text class="text08">
            <ion-text color="warning">
                Campo Requerido
            </ion-text>
          </p>
  
       
      </div>

      <br><br>
  
      <div margin-top>
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="signUp()"
          tappable>
          <ion-icon name="save"></ion-icon>
          Salvar
        </ion-button>
  
  
      </div>
  
      

</ion-content>
