:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }
}

.paz {
    position: relative;
    z-index: 10;
}
.img-loguin {
  width: 80px;
}
h4 {
    align-items: center;
}